/*
    Created on : Dec 7, 2017, 10:53:03 PM
    Author     : Egil Shijaku
*/
*{
}
body{
}
h2{
    color: #1e1d1d;
    /* font: 30px Helvetica, Sans-Serif; */
    /* margin: 0 0 10px 0; */
}
#page-wrap{
    /* width: 800px; */
    width: 50vw;
    min-width: 600px;
    margin: 30px auto;
    padding:30px 10px;
    position: relative;
    background-color: whitesmoke;
}
#chat-wrap{
    /* border: 1pxb solid #eee; */
    margin: 0 0 15px 0;
}
#chat-area{
    /* height: 600px; */
    height: 60vh;
    overflow: auto;
    /* border:5px solid #666; */
    padding: 20px;
    background: whitesmoke;
}
#chat-area span{
    display:inline-block;
    color: white;
    background: #333;
    padding: 4px 8px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 8px;
    margin: 0 5px 0 0;
}
#chat-area p{
    padding: 10px 0;
    /* border-bottom: 1px solid #ccc; */
    color: black;
}
#name-area{
    position: absolute;
    top: 12px;
    right: 0;
    font: bold 12px "Lucida Grande", Sans-Serif;
    text-align: right;
}
#name-area span{
    color: #fa9f00;
}
#send-message-area p{
    color: black;
    padding-top: 27px;
    font-size: 14px;
    border-top: 5px solid white;
}
#sendie{
    /* border: 3px solid #999; */
    width: 100%;
    padding: 10px;
    font: 10px "Lucida Grande", Sans-Serif;
}
