/*
SIGN-IN FORM PAGE
*/
body {
  height: 100%;
}
footer{
  text-align: center;
}
.form-signin {
  text-align: center;
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: 0 auto;
}
.form-new-user{
  text-align: center;
  width: 100%;
  max-width: 430px;
  padding:0 15px;
  margin: 0 auto;
}
.logo-box{
  margin-top: 2rem;
  .icon{
    font-size: 5vw;
  }
  h1{
    font-size: 3vw;
  }
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="text"]{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  &.login{
    margin-bottom:-1px;
    border-radius: 0;
  }
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

//NAVBAR styles
.navbar{
  padding:0 0 !important;
  .nav-logo{
    position:relative;
    text-align: center;
    .icon{
      font-size:40px;
    }
      h6{
        font-size: 30px;
    }
  }
  .user-thumbnail{
    position:absolute;
    right:0;
    h3{
      font-size:30px;
    }
    .icon{
      font-size: 30px;
    }
    .btn{
      padding: 0 10px;
    }
  }
}

//CHAT AREA LOBBY
h2{
    color: #1e1d1d;
    /* font: 30px Helvetica, Sans-Serif; */
    /* margin: 0 0 10px 0; */
}
.games-list,
.players-list{
  // margin:30px;
  padding:20px 20px;
  text-align: center;
  .inner-container{
    background-color: whitesmoke;
    margin:0 auto;
    width:85%;
    height: 800px;
  }
  .title{
    padding:10px;
    border-bottom: 2px solid white;
    color: black;
  }
}
#page-wrap{
    margin: 30px auto;
    padding:30px 10px;
    position: relative;
    background-color: whitesmoke;
}
#chat-wrap{
    /* border: 1pxb solid #eee; */
    margin: 0 0 15px 0;
}
#chat-area{
    /* height: 600px; */
    height: 50vh;
    overflow: auto;
    /* border:5px solid #666; */
    padding: 20px;
    background: whitesmoke;
}
#chat-area{

  #name{
      // display:block;
      color: black;
      // font-weight: bold;
      font-size: 17px;
      /* background: #333; */
      padding: 5px 0px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 8px;
      margin: 5px 0px ;
  }
  #time {
    color: grey;
    font-size: 12px;
  }
  .text {
      display: block;
      width:auto;
      padding: 7px 10px;
      margin:10px;
      // border-bottom: 1px solid white;
      color: black;
      background-color: rgba(173,216,230,.3);
      border-radius: 5px;
  }
}

#name-area{
    position: absolute;
    top: 12px;
    right: 0;
    font: bold 12px "Lucida Grande", Sans-Serif;
    text-align: right;
    span{
        color: #fa9f00;
      }
}

#send-message-area{
   p{
      color: black;
      padding-top: 27px;
      font-size: 14px;
      border-top: 5px solid white;
      border-radius: 10px;
  }
}
#sendie{
    width: 100%;
    padding: 10px;
    font: 15px "Lucida Grande", Sans-Serif;
}

//===============================================
//Players List
.players-list{

  .inner-container{

    .title{

    }
    .players{
        overflow: auto;
        background-color: white;
        height: 75%;
        width:100%;
        margin: 20px auto;
        .player{
          color:black;
          display:block;
          border:1px solid whitesmoke;
          font-size: 25px;
          padding:10px;
      }
    }
  }
}
